$mainOrange: #FF8D23;
$backgroundGrey: #F3F3F3;
$basicWhite: #ffffff;



.eventsListWrapper {
    box-sizing: border-box;
    width: 90vw;
    min-height: 80vh;
    background-color: $backgroundGrey;
    margin: 0;
    margin-bottom: 30px;
    padding: 30px;


    .eventsList {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
    }
}
